.escape_section {
    width: 100%;
}

.escape_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 791px;
    padding: 120px 240px;
    gap: 139px;
}
.escape_img {
    width: 668px;
    border-radius: 10px;
}
.escape_info {
    width: 633.72px;
    height: 666px;
}

.escape_texts {}

.escape_article {
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 120%;

    color: #261E45;
}
.escape_paragraph {
    margin: 263.5px 0px 0px 0px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #191818;
}
.escape_button {
    margin-top: 30.5px;
    width: 230.07px;
    height: 52px;
    border-radius: 22.5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    border: 1px solid #2BB673;
    background-color: #2BB673;
}
.escape_button:hover {
    background-color: #27a568;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;
}

.escape_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top:69px;
    gap: 50px;
}

.escape_list_item {}

.escape_list_container {
    width: 128.5px;
    height: 131px;
}

.escape_list_container > p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #909090;
}