/* Program section -------------------------------------------------------------------*/

.program_section {
  width: 100%;
}

.program_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEF4FF;
}

.program_article {
  padding: 120px 0px 0px 0px;
  display: flex;
  justify-content: center;

  width: 1120px;
  height: 72px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;

  text-align: center;
  letter-spacing: -0.4px;

  color: #111029;
}

.program_paragraph {
  padding: 80px 0px 0px 0px;
  display: flex;
  justify-content: center;

  width: 641px;
  height: 94px;

  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  text-align: center;

  color: #6B6B6B;
}

.program_container_above {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    background-color: #EEF4FF;
}

.program_list_above {
  margin: 0px;
  padding: 116px 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.arrow_above {}

.program_container_below {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    background-color: #EEF4FF;
}

.program_list_below {
  margin: 0px;
  padding: 116px 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.arrow_below {}

.program_list_item {}

.program_list_icon {}

.program_list_article {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #111029;

}

.program_list_paragraph {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #423D3D;
}

.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 404.73px;
    height: 244.5px;
}

.hand_container {
  width: 107.64px;
  height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/svg/svg_folder/hand_rectangle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 404.73px;
    height: 244.5px;
}

.hat_container {
  width: 107.64px;
  height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/svg/svg_folder/hat_rectangle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.forkspoon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 404.73px;
    height: 244.5px;
}

.forkspoon_container {
  width: 107.64px;
  height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/svg/svg_folder/forkspoon_rectangle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.gamepad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 404.73px;
    height: 244.5px;
}

.gamepad_container {
  width: 107.64px;
  height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/svg/svg_folder/gamepad_rectangle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.cake {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 404.73px;
    height: 244.5px;
}

.cake_container {
  width: 107.64px;
  height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/svg/svg_folder/cake_rectangle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.note {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 404.73px;
    height: 244.5px;
}

.note_container {
  width: 107.64px;
  height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/svg/svg_folder/note_rectangle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}