.video_section {
    width: 100%;
}

.video_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_text  {
    width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_text > h6 {
    margin: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #4C40F7;
}

.video_text > h1 {
    margin: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;

    text-align: center;
    letter-spacing: -0.1px;

    color: #111029;
}

.player {}

.video {
    padding: 60px 307px 12px 306px;
    width: 1307px;
    height: 650px;
    border-radius: 10px;
}

/* .controls {
    visibility: hidden;
    opacity: 0.5;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -200px;
    background-color: black;
    box-shadow: 3px 3px 5px black;
    transition: 1s all;
    display: flex;
}

.player:hover .controls,
.player:focus-within .controls {
    opacity: 1;
} */

.video_list {
    list-style: none;
}

.video_list_item {}