<header class="header_section">
  <div class="header_container">
      <nav class="header_navigation">
          <ul class="header_list">
          <li><a href="#">За нас</a></li>
          <li><a href="#">Рожден ден</a></li>
          <li><a href="#">Тиймбилдинг</a></li>
          <li><a href="#">Ваучер</a></li>
          <li><a href="#">Цени</a></li>
          <li><a href="#">Резервирай</a></li>
          <li><a href="#">Контакти</a></li>
      </ul>
      <button type="button" class="header_button"><a href="#">Резервирай сега!</a></button>
  </nav>
</header>