<section class="hero_section">
	<div class="hero_container">
		<div class="hero_text">
			<h1 class="hero_text_article">Подари един Незабравим рожден ден</h1>
			<p class="hero_text_paragraph">
				Искате да отпразнувате незабравим рожден ден на детето Ви? Искате да му
				подарите незабравими емоции? Изберете един различен начин детето Ви да
				се забавлява с приятелите си.
			</p>
			<button type="button" class="hero_text_button">Резервирай сега!</button>
		</div>
		<div class="numbers">
			<ul class="numbers_list_number">
				<li class="numbers_list_number_item text-orange-500">212+</li>
				<li class="numbers_list_number_item text-violet-500">100+</li>
				<li class="numbers_list_number_item text-green-500">12+</li>
			</ul>
			<ul class="numbers_list_text">
				<li class="numbers_list_text_item">рождени дни</li>
				<li class="numbers_list_text_item">доволни рожденници</li>
				<li class="numbers_list_text_item">локации</li>
			</ul>
		</div>
		<div class="hero_images">
			<div>
				<svg width="607.19" height="505.6">
					<use href=""></use>
				</svg>
			</div>
			<div>
				<svg width="708.21" height="684.99">
					<use href=""></use>
				</svg>
			</div>
		</div>
	</div>
</section>
