<section class="hero_section">
	<div class="hero_image">
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div>
			<svg width="607.19" height="505.6">
				<use href="./images/heroSection/heroImage/yellowPuddle_svg.svg"></use>
			</svg>
		</div>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div>
			<svg width="708.21" height="684.99">
				<use href="./images/heroSection/heroImage/purplePuddle_svg.svg"></use>
			</svg>
		</div>
	</div>
	<div class="hero_bg"></div>
	<span class="hero_text">
		<h1 class="hero_text_article">Подари един Незабравим рожден ден</h1>
		<p class="hero_text_paragraph">
			Искате да отпразнувате незабравим рожден ден на детето Ви? Искате да му
			подарите незабравими емоции?Изберете един различен начин детето Ви да се
			забавлява с приятелите си.
		</p>
		<button type="button" class="hero_text_button">резервирай сега!</button>
	</span>
</section>
