<section class="program_section">
	<div class="program_text">
		<h3 class="program_article">Нашата програма</h3>
		<p class="program_paragraph">
			We serve many customers, ranging from small businesses, medium
			entrepreneurs, to world-renowned companies.
		</p>
	</div>

	<div class="program_container_above">
		<ul class="program_list_above">
			<li class="program_list_item">
				<div class="hand">
					<div class="hand_container">
						<svg class="program_list_icon" width="45.9px" height="43.52px">
							<use href="./images/svg/sprite-devs.svg#icon-hand"></use>
						</svg>
					</div>
					<h4 class="program_list_article">
						Посрещане на гости, инструктаж преди играта
					</h4>
					<p class="program_list_paragraph">
						It is a long established fact that a reader will be distracted by
						the readable content of a page when looking at its layout.
					</p>
				</div>
			</li>

			<li>
				<div>
					<svg class="arrow_above" width="266.95px" height="27.67px">
						<use href="./images/svg/sprite-devs.svg#icon-Ellipse-79"></use>
					</svg>
				</div>
			</li>

			<li class="program_list_item">
				<div class="hat">
					<div class="hat_container">
						<svg class="program_list_icon" width="34.18px" height="43px">
							<use href="./images/svg/sprite-devs.svg#icon-hat"></use>
						</svg>
					</div>
					<h4 class="program_list_article">Игри и забавления в ESCAPE ROOMS</h4>
					<p class="program_list_paragraph">
						It is a long established fact that a reader will be distracted by
						the readable content of a page when looking.
					</p>
				</div>
			</li>

			<li>
				<div>
					<svg class="arrow_above" width="266.95px" height="27.67px">
						<use href="./images/svg/sprite-devs.svg#icon-Ellipse-81"></use>
					</svg>
				</div>
			</li>

			<li class="program_list_item">
				<div class="forkspoon">
					<div class="forkspoon_container">
						<svg class="program_list_icon" width="50.59px" height="45px">
							<use href="./images/svg/sprite-devs.svg#icon-forkspoon"></use>
						</svg>
					</div>
					<h4 class="program_list_article">
						Почерпка, игри и дискотека в залата за парти Here
					</h4>
					<p class="program_list_paragraph">
						It is a long established fact that a reader will be distracted by
						the readable content of a page when looking at its layout.
					</p>
				</div>
			</li>
		</ul>
	</div>

	<div class="program_container_below">
		<ul class="program_list_below">
			<li class="program_list_item">
				<div class="gamepad">
					<div class="gamepad_container">
						<svg class="program_list_icon" width="51.25px" height="36.9px">
							<use href="./images/svg/sprite-devs.svg#icon-gamepad"></use>
						</svg>
					</div>
					<h4 class="program_list_article">
						Анимация с професионални аниматори
					</h4>
					<p class="program_list_paragraph">
						It is a long established fact that a reader will be distracted by
						the readable content of a page when looking at its layout.
					</p>
				</div>
			</li>

			<li>
				<div>
					<svg class="arrow_below">
						<use href="./images/svg/sprite-devs.svg#icon-Ellipse-79"></use>
					</svg>
				</div>
			</li>

			<li class="program_list_item">
				<div class="cake">
					<div class="cake_container">
						<svg class="program_list_icon" width="50.59px" height="45px">
							<use href="./images/svg/sprite-devs.svg#icon-cake"></use>
						</svg>
					</div>
					<h4 class="program_list_article">Торта и специални поздравления</h4>
					<p class="program_list_paragraph">
						It is a long established fact that a reader will be distracted by
						the readable content of a page when looking.
					</p>
				</div>
			</li>

			<li>
				<div>
					<svg class="arrow_below">
						<use href="./images/svg/sprite-devs.svg#icon-Ellipse-81"></use>
					</svg>
				</div>
			</li>

			<li class="program_list_item">
				<div class="note">
					<div class="note_container">
						<svg class="program_list_icon" width="43px" height="43px">
							<use href="./images/svg/sprite-devs.svg#icon-note"></use>
						</svg>
					</div>
					<h4 class="program_list_article">Снимки с персонална уеб страница</h4>
					<p class="program_list_paragraph">
						It is a long established fact that a reader will be distracted by
						the readable content of a page when looking at its layout.
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>
