<section>
	<div class="program_container">
		<h3 class="program_article">Нашата програма</h3>
		<p class="program_paragraph">
			We serve many customers, ranging from small businesses, medium
			entrepreneurs, to world-renowned companies.
		</p>
		<ul class="program_list">
			<li class="program_list_item"></li>
			<li class="program_list_item"></li>
			<li class="program_list_item"></li>
			<li class="program_list_item"></li>
			<li class="program_list_item"></li>
			<li class="program_list_item"></li>
		</ul>
	</div>
</section>
