<section class="questions_section">
  <div class="questions_container">
    <div class="questions_text">
      <h6 class="questions_article">На място</h6>
      <p class="questions_paragraph">Усетете атмосфера</p>
    </div>
    <div class="questions_photos">
        <img width="353px" src="./images/group1.png" alt="Partyhard"/>
        <img width="353px" src="./images/cake-pic.png" alt="B-day cake"/>
        <img width="353px" src="./images/two-kids.png" alt="Boy and girl posing"/>
        <img width="363px" src="./images/group2.png" alt="Kids football club b-day"/>
        <img width="353px" src="./images/group3.png" alt="Kitchen"/>
        <img width="353px" src="./images/group4.png" alt="Boys smiling"/>
      </ul>
    </div>
  </div>

  <div class="questions_text">
    <h6 class="questions_article">Често задавани въпроси</h6>
    <h3 class="questions_paragraph">Остана нещо неясно?</h3>
  </div>
</section>