<section class="questions-section">
	<div class="questions-container">
		<div class="questions-text">
			<h6 class="questions-article">На място</h6>
			<p class="questions-paragraph">Усетете атмосфера</p>
		</div>

		<div class="questions-photos">
			<div class="grid gap-7">
				<img width="353px" src="./images/group1.png" alt="Partyhard" />
				<img width="353px" src="./images/cake-pic.png" alt="B-day cake" />
			</div>
			<div class="grid gap-7">
				<img
					width="353px"
					src="./images/two-kids.png"
					alt="Boy and girl posing"
				/>
				<img
					width="363px"
					src="./images/group2.png"
					alt="Kids football club b-day"
				/>
			</div>
			<div class="grid gap-7">
				<img width="353px" src="./images/group3.png" alt="Kitchen" />
				<img width="353px" src="./images/group4.png" alt="Boys smiling" />
			</div>
		</div>

		<div class="toggle-form_container">
			<div class="questions-text">
				<h6 class="questions-article">Често задавани въпроси</h6>
				<h3 class="questions-paragraph">Остана нещо неясно?</h3>
			</div>
			<div class="toggle-container">
				<ul>
					<li>
						<div
							class="toggle-item rounded-lg border-2 border-zinc-300 bg-white"
						>
							What are the services provided to customers?
							<button type="button">
								<svg class="vector" width="12" height="7">
									<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
								</svg>
							</button>
						</div>
					</li>
					<li>
						<div
							class="toggle-item rounded-lg border-2 border-zinc-300 bg-white"
						>
							How can I submit a proposal for cooperation?
							<svg width="12" height="7">
								<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
							</svg>
						</div>
					</li>
					<li>
						<div
							class="toggle-item rounded-lg border-2 border-zinc-300 bg-white"
						>
							I come from a faraway place, can collaboration be done full time
							online through several meeting applications?
							<svg width="12" height="7">
								<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
							</svg>
						</div>
					</li>
					<li>
						<div
							class="toggle-item rounded-lg border-2 border-zinc-300 bg-white"
						>
							How do I get the payment complete?
							<svg width="12" height="7">
								<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
							</svg>
						</div>
					</li>
					<li>
						<div
							class="toggle-item rounded-lg border-2 border-zinc-300 bg-white"
						>
							How long can the collaboration last?
							<svg width="12" height="7">
								<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
							</svg>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<svg class="questions_purple" width="734.14px" height="1005.89px">
		<use href="./images/svg/sprite-devs.svg#icon-questions_purple"></use>
	</svg>
	<svg class="questions_green" width="894px" height="993px">
		<use href="./images/svg/sprite-devs.svg#icon-questions_green"></use>
	</svg>
</section>
