<section class="questions_section">
	<div class="questions_container">
		<div class="questions_text">
			<h6 class="questions_article">На място</h6>
			<p class="questions_paragraph">Усетете атмосфера</p>
		</div>
		<div class="questions_photos">
			<!-- <picture class="photos"> -->
			<img width="353px" src="./images/group1.png" alt="Partyhard" />
			<img width="353px" src="./images/cake-pic.png" alt="B-day cake" />
			<img
				width="353px"
				src="./images/two-kids.png"
				alt="Boy and girl posing"
			/>
			<img
				width="363px"
				src="./images/group2.png"
				alt="Kids football club b-day"
			/>
			<img width="353px" src="./images/group3.png" alt="Kitchen" />
			<img width="353px" src="./images/group4.png" alt="Boys smiling" />
			<!-- </picture> -->
		</div>
		<div class="toggle_form-container border-4 border-sky-500">
			<div class="questions_text">
				<h6 class="questions_article">Често задавани въпроси</h6>
				<h3 class="questions_paragraph">Остана нещо неясно?</h3>
			</div>
			<div class="toggle-container">
				<div class="toggle-item border-2 border-cyan-400">
					What are the services provided to customers?
					<svg width="12" height="7">
						<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
					</svg>
				</div>
				<div class="toggle-item border-2 border-cyan-400">
					How can I submit a proposal for cooperation?
					<svg width="12" height="7">
						<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
					</svg>
				</div>
				<div class="toggle-item border-2 border-cyan-400">
					I come from a faraway place, can collaboration be done full time
					online through several meeting applications?
					<svg width="12" height="7">
						<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
					</svg>
				</div>
				<div class="toggle-item border-2 border-cyan-400">
					How do I get the payment complete?
					<svg width="12" height="7">
						<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
					</svg>
				</div>
				<div class="toggle-item border-2 border-cyan-400">
					How long can the collaboration last?
					<svg width="12" height="7">
						<use href="./images/svg/sprite-devs.svg#icon-Vector"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>
