<section class="reservation-section">
	<div class="reservation-text">
		<h2 class="reservation-article">Направи резервация</h2>
		<div class="reservation-dates">
			<button type="button" class="dates_left">
				<svg width="32px" height="32px">
					<use href="./images/svg/sprite-devs.svg#icon-ArrowCircleLeft"></use>
				</svg>
			</button>
			<time class="reservation-paragraph">03.04.2023 — 09.04.2023</time>
			<button type="button" class="dates_right">
				<svg width="32px" height="32px">
					<use href="./images/svg/sprite-devs.svg#icon-ArrowCircleRight"></use>
				</svg>
			</button>
		</div>
	</div>

	<div class="reservation-container">
		<tbody class="reservation-body">
			<table class="reservation-table">
				<tr class="table-date">
					<th class="table-days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						03.04.2023
						<br />
						Понеделник
					</th>
					<th class="table-days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						04.04.2023
						<br />
						Вторник
					</th>
					<th class="table-days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						05.04.2023
						<br />
						Сряда
					</th>
					<th class="table-days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						06.04.2023
						<br />
						Четвъртък
					</th>
					<th class="table-days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						07.04.2023
						<br />
						Петък
					</th>
					<th class="table-days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						08.04.2023
						<br />
						Събота
					</th>
					<th class="table-days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						09.04.2023
						<br />
						Неделя
					</th>
				</tr>
				<tr class="table-time">
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
				</tr>
				<tr class="table-time">
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
				</tr>
				<tr class="table-time">
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
				</tr>
				<tr class="table-time">
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
				</tr>
				<tr class="table-time">
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
				</tr>
				<tr class="table-time">
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
				</tr>
				<tr class="table-time">
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
				</tr>
			</table>
		</tbody>
	</div>

	<div class="info-container">
		<form class="info-form">
			<div class="column-container">
				<div class="info-column_container">
					<ul class="info-list">
						<li class="info-list_item">
							Електронна поща
							<label>
								<input
									class="info-input"
									placeholder="Електронна поща"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							Име
							<label>
								<input
									class="info-input"
									placeholder="Име"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							Телефонен номер
							<label>
								<input
									class="info-input"
									placeholder="Телефонен номер"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							Име на рожденика
							<label>
								<input
									class="info-input"
									placeholder="Име на рожденика"
									type="text"
									name="input"
								/>
							</label>
						</li>
					</ul>
				</div>

				<div class="info-column_container">
					<ul class="info-list">
						<li class="info-list_item">
							Възраст, която навърша
							<label>
								<input
									class="info-input"
									placeholder="Възраст, която навърша"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							Брой играчи
							<label>
								<input
									class="info-input"
									placeholder="First name"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							Език на играта
							<label>
								<input
									class="info-input"
									placeholder="First name"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							<label>
								Деца до 14 години
								<input
									class="info-input"
									placeholder="First name"
									type="text"
									name="input"
								/>
							</label>
						</li>
					</ul>
				</div>

				<div class="info-column_container">
					<ul class="info-list">
						<li class="info-list_item">
							Наем на дъполнителна стая
							<label>
								<input
									class="info-input"
									placeholder="First name"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							Наем на залата за:
							<label>
								<input
									class="info-input"
									placeholder="First name"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							Кетъринг
							<label>
								<input
									class="info-input"
									placeholder="First name"
									type="text"
									name="input"
								/>
							</label>
						</li>
						<li class="info-list_item">
							Аниматор
							<label>
								<input
									class="info-input"
									placeholder="First name"
									type="text"
									name="input"
								/>
							</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="solo-input_container">
				<label
					><p>Код за отстъпка</p>
					<input
						class="solo-input"
						placeholder="Код за отстъпка"
						type="text"
						name="input"
					/>
				</label>
				<label
					><p>Забележки и въпроси</p>
					<input
						class="solo-input"
						placeholder="Забележки и въпроси "
						type="text"
						name="input"
					/>
				</label>
			</div>

			<ul class="checkboxes-list">
				<li class="checkboxes-item">
					<label>
						<input
							class="checkbox"
							type="checkbox"
							name="form-checkbox"
							value="General settings"
						/>
					</label>
				</li>
				<li class="checkboxes-item">
					<label>
						<input
							class="checkbox"
							type="checkbox"
							name="form-checkbox"
							value="Data"
						/>
					</label>
				</li>
				<li class="checkboxes-item">
					<label>
						<input
							class="checkbox"
							type="checkbox"
							name="form-checkbox"
							value="PI security"
						/>
					</label>
				</li>
			</ul>
		</form>
	</div>
</section>
