<section class="reservation_section">
	<div class="reservation_text">
		<h2 class="reservation_article">Направи резервация</h2>
		<div class="reservation_dates">
			<button class="dates_left" type="button">
				<svg width="32px" height="32px">
					<use href="./images/svg/sprite-devs.svg#icon-ArrowCircleLeft"></use>
				</svg>
			</button>
			<time class="reservation_paragraph">03.04.2023 — 09.04.2023</time>
			<button class="dates_right" type="button">
				<svg width="32px" height="32px">
					<use href="./images/svg/sprite-devs.svg#icon-ArrowCircleRight"></use>
				</svg>
			</button>
		</div>
	</div>

	<div class="reservation_container">
		<tbody>
			<table class="reservation_table">
				<tr class="table_date">
					<th class="table_days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						03.04.2023
						<br />
						Понеделник
					</th>
					<th class="table_days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						04.04.2023
						<br />
						Вторник
					</th>
					<th class="table_days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						05.04.2023
						<br />
						Сряда
					</th>
					<th class="table_days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						06.04.2023
						<br />
						Четвъртък
					</th>
					<th class="table_days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						07.04.2023
						<br />
						Петък
					</th>
					<th class="table_days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						08.04.2023
						<br />
						Събота
					</th>
					<th class="table_days">
						<svg width="24px" height="22px">
							<use href="./images/svg/sprite-devs.svg#icon-fi_calendar"></use>
						</svg>
						09.04.2023
						<br />
						Неделя
					</th>
				</tr>
				<tr class="table_time">
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
					<td class="time">10:00</td>
				</tr>
				<tr class="table_time">
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
					<td class="time">12:00</td>
				</tr>
				<tr class="table_time">
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
					<td class="time">14:00</td>
				</tr>
				<tr class="table_time">
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
					<td class="time">16:00</td>
				</tr>
				<tr class="table_time">
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
					<td class="time">18:00</td>
				</tr>
				<tr class="table_time">
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
					<td class="time">20:00</td>
				</tr>
				<tr class="table_time">
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
					<td class="time">22:00</td>
				</tr>
			</table>
		</tbody>
	</div>

	<div>
		<form></form>
	</div>
</section>
