<section class="video_section">
	<div class="video_container">
		<div class="video_text">
			<h6>Нашата атмосфера</h6>
			<h1>Вижте как се случва магията при нас</h1>
		</div>
		<div class="player">
			<video class="video" controls>
				<source src="video/sintel-short.mp4" type="video/mp4" />
				<source src="video/sintel-short.webm" type="video/webm" />
			</video>
			<!-- <div class="controls">
                <button class="play" data-icon="P" aria-label="play pause toggle"></button>
                <button class="stop" data-icon="S" aria-label="stop"></button>
                <div class="timer">
                <div></div>
                <span aria-label="timer">00:00</span>
                </div>
                <button class="rwd" data-icon="B" aria-label="rewind"></button>
                <button class="fwd" data-icon="F" aria-label="fast forward"></button>
            </div> -->
		</div>
		<ul class="video_list">
			<li class="video_list_item">
				<div>
					<svg width="1590px" height="1462px">
						<use href="./images/svg/sprite-devs.svg#icon-video_yellow"></use>
					</svg>
				</div>
			</li>
			<li class="video_list_item">
				<div>
					<svg width="896.51px" height="1069.38px">
						<use href="./images/svg/sprite-devs.svg#icon-video_purple"></use>
					</svg>
				</div>
			</li>
		</ul>
	</div>
</section>
